body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0%;
}
hr {
    background-color: #5F4B8B;
    font-weight: 1em;
    height: 0.1em;
    margin: 3%;
}
li{
    color: #5F4B8B;
    font-size: 1.2em;
}
ol li {
    color: black;
    font-size: 1em;
}
.olContent {
    font-size: 0.9em;
}


.headNav {
    background-color: #5F4B8B;
    text-align: center; 
    padding: 0.7em;
    width: 100%;
}
.headNav a {
    text-decoration: none;
    margin-left: 1em;
    font-weight: 600;
    color: white;
}
.mainHeader {
    background-image: url("headerBackground.png");
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 30em;
}
.mainHeader p {
    margin: 0%;
    width: 100%;
    position: absolute;
    top: 10%;
    font-size: 3em;
    text-align: center;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.studyHeader {
    background-image: url("studyHeaderBackground.png");
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 15em;
}
.studyHeader p {
    margin: 0%;
    width: 100%;
    position: absolute;
    top: 35%;
    font-size: 3em;
    text-align: center;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.infoHeader {
    background-image: url("kfrafton.jpg");
    background-size: 100% 120%;
    position: relative;
    width: 100%;
    height: 20em;
}
.infoHeader p {
    margin: 0%;
    width: 100%;
    position: absolute;
    top: 15%;
    font-size: 3em;
    text-align: center;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contentSection {
    margin: 3em;
}
.contentHeader {
    color: #5F4B8B;
    padding-bottom: 0.5em;
    font-weight: 600;
    font-size: 2.5em;
}
.contentArticle {
    color: black;
    font-size: 1.2em;
}

.studyNav {
    background-color: rgba(95, 75 , 139, 0.7);
    color: white;
    position: fixed;
    right: 0;
    padding: 1em;
    margin: 1em;
}
.studyNav a {
    font-size: 0.8em;
    color: white;
    text-decoration: none;
}
.studyNav ol {
    list-style-type: square;
}
.studyNav li {
    font-size: 1em;
    color: white;
    text-decoration: none;
}

#contentSelector {
    position: absolute;
    right: 0;
    padding: 1em;
}

#selector {
    background-color: #5F4B8B;
    color: white;
    padding: 0.5em;
}

.mainFooter {
    background-color: #5F4B8B;
    text-align: center;
    color: white;
    padding: 3em;
}
.mainFooter a{
    color: white;
}
